body {
    --menubarHeight: min(60px, 15vh);
    --menubarFontSize: min(1rem, 4vh);
    --menubarPaddingX: calc((100vw - var(--genericPageWidth)) / 2);
}
.theme-dark {
    --menubarColor: var(--backgroundColor3);
}
.theme-light {
    --menubarColor: var(--backgroundColor0);
}

.menubar-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--menubarPaddingX);
    box-sizing: border-box;
    background-color: rgb(var(--menubarColor));
    height: var(--menubarHeight);
    position: fixed;
    top: 0;
    left: 0;
    font-family: var(--displayFont);
    font-size: var(--menubarFontSize);
    font-weight: 600;
    width: 100%;
    z-index: 100;
}

.menubar-theme-container {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    padding: 0.2em;
    cursor: pointer;
}

.menubar-theme-icon {
    width: 1.5em;
    height: 1.5em;
}