body {
    --menubarHeight: min(60px, 15vh);
    --menubarFontSize: min(1rem, 4vh);
    --menubarPaddingX: calc((100vw - var(--genericPageWidth)) / 2);
}
.theme-dark {
    --menubarColor: var(--backgroundColor2);
    --menubarBorderBottom: unset;
}
.theme-light {
    --menubarColor: var(--backgroundColor0);
    --menubarBorderBottom: 1px solid rgba(var(--secondaryColor0), 0.2);
}

.menubar-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--menubarPaddingX);
    box-sizing: border-box;
    background-color: rgb(var(--menubarColor));
    height: var(--menubarHeight);
    position: fixed;
    top: 0;
    left: 0;
    font-family: var(--displayFont);
    font-size: var(--menubarFontSize);
    font-weight: 600;
    width: 100%;
    z-index: 100;
    border-bottom: var(--menubarBorderBottom)
}

.menubar-title-container {
    max-width: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}
.menubar-logo-img {
    display: inline;
    vertical-align: middle;
    height: 1.5em;
    width: 1.5em;
    margin: 0;
    margin-right: 0.5em;
    line-height: 0;
}
.menubar-title-text {
    vertical-align: middle;
}

.menubar-theme-container {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    padding: 0.2em;
    cursor: pointer;
}
.menubar-theme-icon {
    width: 1.5em;
    height: 1.5em;
}