/* Generic page components */
.generic-page-body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: var(--menubarHeight);
    height: calc(100vh - var(--menubarHeight));
    box-sizing: border-box;
    position: relative;
    background-color: rgb(var(--backgroundColor0));
}
.generic-page-body-expandable {
    margin: 0 auto;
    margin-top: var(--menubarHeight);
    min-height: calc(100% - var(--menubarHeight));
    width: var(--genericPageWidth);
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(var(--backgroundColor0));
}

.genpage-container {
    padding: var(--pagePaddingY) 0;
    width: var(--genericPageWidth);
    margin: 0 auto;
}
@media screen and (max-width: 1000px) {
    .genpage-main {
        flex-wrap: wrap;
    }
}
.genpage-header {
    margin: 0;
    font-size: 40px;
    font-family: var(--displayFont);
    font-weight: 800;
    margin-bottom: 30px;
}
.genpage-subheader {
    font-size: 20px;
    font-weight: 600;
    font-family: var(--displayFont);
    margin: -20px 0 30px 0;
}