/* Prebuilt/general css stuff for the entire project */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Document-wide theme-independent constant variables */
body {
  --genericPageWidth: min(85%, 1100px);
  --pagePaddingY: min(100px, 10%);

  --displayFont: "Figtree", "Wix Madefor Display", "Satoshi", "Red Hat Display", Roboto, system-ui, sans-serif;
  --paragraphFont: "Figtree", "Inter", "Work Sans", "Open Sans", system-ui, sans-serif;
  --codeFont: "Roboto Mono", Consolas, monospace;

  --roundedSmall: 5px;
  --roundedMedium: min(2vmin, 8px);
  --roundedLarge: 10px;
}

/* Main dark theme colors - look in other files menubar.css for other colors */
.theme-dark {
  --backgroundColor0: 9, 9, 10;
  --backgroundColor1: 13, 13, 14;
  --backgroundColor2: 18, 18, 20;
  --backgroundColor3: 25, 25, 31;
  --backgroundColor4: 33, 34, 39;
  --backgroundColor5: 45, 47, 52;
  --backgroundColor6: 58, 60, 66;

  --primaryColor0: 138, 127, 255;
  --primaryColor1: 113, 97, 255;
  --primaryColor2: 94, 76, 246;
  --primaryColor3: 76, 62, 189;
  --primaryColor4: 50, 36, 153;

  --secondaryColor0: 176, 177, 192;
  --secondaryColor1: 131, 135, 145;

  --textColor: 255, 255, 255;
  --linkColor: 191, 99, 244;
}

/* Main light theme colors - look in other files menubar.css for other colors */
.theme-light {
  --backgroundColor0: 255, 255, 255;
  --backgroundColor1: 255, 255, 255;
  --backgroundColor2: 250, 250, 251;
  --backgroundColor3: 241, 241, 242;
  --backgroundColor4: 233, 233, 234;
  --backgroundColor5: 220, 220, 221;
  --backgroundColor6: 206, 206, 207;

  --primaryColor0: 138, 127, 255;
  --primaryColor1: 113, 97, 255;
  --primaryColor2: 94, 76, 246;
  --primaryColor3: 76, 62, 189;
  --primaryColor4: 50, 36, 153;

  --secondaryColor0: 126, 127, 132;
  --secondaryColor1: 143, 145, 153;

  --linkColor: 191, 99, 244;
  --textColor: 0, 0, 0;
}

body {
  font-family: var(--paragraphFont);
  font-size: 16px;
  margin: 0;
  background-color: rgb(var(--backgroundColor0));
  color: rgb(var(--textColor));
}

/* For smooth transitioning between light-dark themes.
This is a very low priority selector so it shouldnt
interfere with other animated elements as long as they override. */
.theme-light *, .theme-dark * {
  transition: background 0.3s ease; 
  /* ???: for some reason, color transitions take 10x longer, hence 0.03 instead of 0.3 */
}

/* root element defined in index.html */
#root {
  height: calc(100vh - var(--menuBarHeight));
}

/* reset default/standard styles for text elements */
p {
  display: block;
  margin: 1em 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--displayFont);
  display: block;
  margin: 0 0 0.3em 0;
  font-weight: 600;
  line-height: 1.3;
}
h1 { 
  font-size: 3em;
}
h2 {
  font-size: 2.2em;
}
h3 { 
  font-size: 1.8em;
}
h4 { 
  font-size: 1.5em;
}
h5 { 
  font-size: 1.2em;
}
h6 { 
  font-size: 1em;
}

hr {
  width: 100%;
  border: 1px solid rgb(var(--textColor), 0.2);
  margin: 0;
}

code {
  font-family: var(--codeFont);
  font-size: 1em;
  background-color: rgb(var(--backgroundColor3));
  padding: 0.1em 0.2em;
  border-radius: var(--roundedSmall);
  color: rgb(var(--textColor));
}

a {
  text-decoration: none;
  color: rgb(var(--linkColor));
  width: fit-content;
}
a:hover {
  text-decoration: underline;
}

*::-webkit-scrollbar {
  width: min(12px, 1vw);
  height: min(12px, 1vh);
}
*::-webkit-scrollbar-track {
  background: rgb(var(--backgroundColor4));
}
*::-webkit-scrollbar-thumb {
  background: rgb(var(--backgroundColor6));
}
*::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--backgroundColor5));
}
*::-webkit-scrollbar-corner {
  background: rgb(var(--backgroundColor4));
}

.theme-light *::selection {
  background-color: rgba(var(--primaryColor4), 0.25);
}
.theme-dark *::selection {
  background-color: rgba(var(--primaryColor0), 0.5);
}

/* classes for quick debugging */
.red {
  background-color: rgba(255, 20, 20, 0.4) !important;
  border: 5px solid rgb(235, 154, 154) !important;
}
.blue {
  background-color: rgba(20, 20, 255, 0.4) !important;
  border: 5px solid rgb(179, 179, 245) !important;
}
.green {
  background-color: rgba(20, 255, 20, 0.4) !important;
  border: 5px solid rgb(154, 235, 154) !important;
}
.yellow {
  background-color: rgba(255, 255, 20, 0.4) !important;
  border: 5px solid rgb(235, 235, 154) !important;
}

.link {
  text-decoration: none;
  color: rgb(var(--linkColor));
  width: fit-content;
}
.link:hover {
  text-decoration: underline;
}
.link-invis {
  text-decoration: none;
  color: inherit;
  width: fit-content;
  padding: 0;
  margin: 0;
}
.link-invis:hover {
  text-decoration: none !important;
}
.img-link-invis {
  display: block;
  font-size: 0;
  text-decoration: none;
  color: inherit;
  width: fit-content;
}

/* Prebuilt input element styles */
.input-primary {
  width: 100%;
  font-family: var(--paragraphFont);
  color: rgb(var(--textColor));
  font-size: 0.9em;
  font-weight: 400;
  padding: 8px 10px;
  box-sizing: border-box;
  border-radius: var(--roundedMedium);
  border: 2px solid transparent;
  outline: 1px solid rgba(var(--secondaryColor1), 0.5);
  transition: background 0.3s ease, box-shadow 0.3s ease, outline-color 0.15s ease;
}
.theme-dark .input-primary {
  background-color: rgb(var(--backgroundColor3));
}
.theme-light .input-primary {
  background-color: rgb(var(--backgroundColor1));
}
.input-primary::placeholder {
  color: rgba(var(--textColor), 0.5);
}
.input-primary:hover {
  outline: 1px solid rgba(var(--secondaryColor1), 0.9);
}
.input-primary:hover::placeholder {
  color: rgba(var(--textColor), 0.7);
}
.input-primary:focus {
  box-shadow: 0 0 0 5px rgba(var(--primaryColor1), 0.3);
  border: 2px solid rgb(var(--primaryColor1));
  outline: 1px solid rgb(var(--primaryColor1));
}
.input-primary:focus::placeholder {
  color: rgba(var(--textColor), 0.7);
}

button {
  box-sizing: border-box;
  max-width: fit-content; /* by default buttons dont fill, however this can be overridden */
}
.button-primary, .button-secondary, .button-danger {
  border-radius: var(--roundedMedium);
  font-weight: 500;
  font-family: var(--displayFont);
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.15s;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* All disabled button-primary */
.button-primary[disabled], .button-danger[disabled], .button-secondary[disabled] {
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.1s;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  opacity: 0.6;
  box-shadow: none;
  cursor: wait;
  pointer-events: none;
}
.button-danger[disabled] {
  color: white;
}
.button-secondary[disabled] {
  outline: 1px solid rgba(var(--textColor), 0.2);
  color: rgb(var(--textColor));
  background-color: transparent;
}

.button-primary {
  color: white;
  background-color: rgb(var(--primaryColor2));
  box-shadow: 0px 1px 4px 1px #0003;
}
.button-primary:hover {
  background-color: rgb(var(--primaryColor1));
  box-shadow: 0px 2px 5px 1px #0004;
}

.button-secondary {
  background-color: rgba(var(--backgroundColor2), 0.5);
  color: rgb(var(--textColor));
  border: 1px solid rgba(var(--secondaryColor1), 0.5);
  outline: none;
}
.theme-dark .button-secondary:hover {
  background-color: rgba(var(--backgroundColor4), 0.9);
  border: 1px solid rgb(var(--secondaryColor1), 0.9);
}
.theme-light .button-secondary:hover {
  background-color: rgba(var(--backgroundColor3), 0.9);
  border: 1px solid rgb(var(--secondaryColor1), 0.9);
}

.mopo {
  margin: 0;
  padding: 0;
}
.button-small {
  padding: 5px 14px;
  font-size: 1em;
}
.button-medium {
  padding: 8px 24px;
  font-size: 1em;
}
.button-large {
  padding: 10px 28px;
  font-size: 1em;
}
