/* Prebuilt/general css stuff for the entire project */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Document-wide theme-independent constant variables */
body {
  --genericPageWidth: min(90%, 1200px);
  --pagePaddingY: min(120px, 10%);

  --displayFont: "Figtree", "Wix Madefor Display", "Satoshi", "Red Hat Display", Roboto, system-ui, sans-serif;
  --paragraphFont: "Figtree", "Inter", "Work Sans", "Open Sans", system-ui, sans-serif;
  --codeFont: "Roboto Mono", Consolas, monospace;

  --roundedSmall: 5px;
  --roundedMedium: min(2vmin, 8px);
  --roundedLarge: 10px;
}

/* Main dark theme colors - look in other files menubar.css for other colors */
.theme-dark {
  --backgroundColor0: 0, 0, 0;
  --backgroundColor1: 4, 5, 6;
  --backgroundColor2: 9, 10, 11;
  --backgroundColor3: 16, 17, 19;
  --backgroundColor4: 24, 26, 29;
  --backgroundColor5: 33, 35, 39;
  --backgroundColor6: 45, 47, 52;

  --primaryColor0: 190, 232, 255;
  --primaryColor1: 48, 157, 246;
  --primaryColor2: 51, 135, 224;
  --primaryColor3: 45, 113, 215;
  --primaryColor4: 30, 98, 201;

  --secondaryColor0: 176, 177, 192;
  --secondaryColor1: 131, 135, 145;

  --textColor: 255, 255, 255;
  --linkColor: 191, 99, 244;
}

/* Main light theme colors - look in other files menubar.css for other colors */
.theme-light {
  --backgroundColor0: 255, 255, 255;
  --backgroundColor1: 255, 255, 255;
  --backgroundColor2: 250, 250, 251;
  --backgroundColor3: 241, 241, 242;
  --backgroundColor4: 233, 233, 234;
  --backgroundColor5: 220, 220, 221;
  --backgroundColor6: 206, 206, 207;

  --primaryColor0: 190, 232, 255;
  --primaryColor1: 48, 157, 246;
  --primaryColor2: 51, 135, 224;
  --primaryColor3: 45, 113, 215;
  --primaryColor4: 30, 98, 201;

  --secondaryColor0: 176, 177, 192;
  --secondaryColor1: 131, 135, 145;

  --linkColor: 191, 99, 244;
  --textColor: 0, 0, 0;
}

body {
  font-family: var(--paragraphFont);
  font-size: 16px;
  margin: 0;
  background-color: rgb(var(--backgroundColor0));
  color: rgb(var(--textColor));
}

/* For smooth transitioning between light-dark themes.
This is a very low priority selector so it shouldnt
interfere with other animated elements as long as they override. */
* {
  transition: background 0.3s ease, color 0.03s ease; 
  /* ???: for some reason, color transitions take 10x longer, hence 0.03 instead of 0.3 */
}

/* root element defined in index.html */
#root {
  height: calc(100vh - var(--menuBarHeight));
}

/* reset default/standard styles for text elements */
p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--displayFont);
  display: block;
  margin-left: 0;
  margin-right: 0;
  font-weight: 600;
}
h1 { 
  font-size: 3em;
  margin-top: 0.1em;
  margin-bottom: 0.3em;
}
h2 {
  font-size: 2.2em;
  margin-top: 0.1em;
  margin-bottom: 0.3em;
}
h3 { 
  font-size: 1.8em;
  margin-top: 0.1em;
  margin-bottom: 0.3em;
}
h4 { 
  font-size: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.33em;
}
h5 { 
  font-size: 1.2em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
}
h6 { 
  font-size: 1em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
}

hr {
  width: 100%;
  border: 1px solid #fff2;
  margin: 0;
}

code {
  font-family: var(--codeFont);
  font-size: 1em;
  background-color: rgb(var(--backgroundColor3));
  padding: 1px 3px;
  border-radius: var(--roundedSmall);
  color: rgb(var(--textColor));
}

a {
  text-decoration: none;
  color: rgb(var(--linkColor));
  width: fit-content;
}
a:hover {
  text-decoration: underline;
}

*::-webkit-scrollbar {
  width: min(12px, 1vw);
  height: min(12px, 1vh);
}
*::-webkit-scrollbar-track {
  background: rgb(var(--backgroundColor4));
}
*::-webkit-scrollbar-thumb {
  background: rgb(var(--backgroundColor6));
}
*::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--backgroundColor5));
}
*::-webkit-scrollbar-corner {
  background: rgb(var(--backgroundColor4));
}

/* class for quick debugging */
.red {
  background-color: rgba(255, 20, 20, 0.4) !important;
  border: 5px solid rgb(235, 154, 154) !important;
}
.blue {
  background-color: rgba(20, 20, 255, 0.4) !important;
  border: 5px solid rgb(179, 179, 245) !important;
}
.green {
  background-color: rgba(20, 255, 20, 0.4) !important;
  border: 5px solid rgb(154, 235, 154) !important;
}
.yellow {
  background-color: rgba(255, 255, 20, 0.4) !important;
  border: 5px solid rgb(235, 235, 154) !important;
}

.link {
  text-decoration: none;
  color: rgb(var(--linkColor));
  width: fit-content;
}
.link:hover {
  text-decoration: underline;
}
.link-invis {
  text-decoration: none;
  color: inherit;
  width: fit-content;
  padding: 0;
  margin: 0;
}
.link-invis:hover {
  text-decoration: none !important;
}
.img-link-invis {
  display: block;
  font-size: 0;
  text-decoration: none;
  color: inherit;
  width: fit-content;
}

/* Prebuilt input element styles */
.input-primary {
  width: 100%;
  font-family: var(--paragraphFont);
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  padding: 8px 10px;
  box-sizing: border-box;
  border-radius: var(--roundedSmall);
  background-color: rgb(var(--backgroundColor3));
  border: 2px solid transparent;
  outline: 1px solid #fff2;
  transition: box-shadow 0.3s ease, border 0.1s ease-in-out;
}
.input-primary::placeholder {
  color: #fff6;
}
.input-primary:hover {
  outline: 1px solid #fff4;
}
.input-primary:hover::placeholder {
  color: #fff8;
}
.input-primary:focus {
  box-shadow: 0 0 0 4px rgba(var(--primaryColor1), 0.2);
  border: 2px solid rgb(var(--primaryColor1));
  outline: 1px solid #fff4;
}
.input-primary:focus::placeholder {
  color: #fff8;
}

.button-primary, .button-secondary, .button-danger {
  border-radius: var(--roundedMedium);
  font-weight: 500;
  font-family: var(--displayFont);
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.15s;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* All disabled button-primary */
.button-primary[disabled], .button-danger[disabled], .button-secondary[disabled] {
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.1s;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  opacity: 0.6;
  box-shadow: none;
  cursor: wait;
  pointer-events: none;
}
.button-danger[disabled] {
  color: white;
}
.button-secondary[disabled] {
  outline: 1px solid #fff2;
  color: white;
  background-color: transparent;
}

.button-danger {
  color: white;
  background-color: rgb(var(--dangerColorBright));
  box-shadow: 0px 1px 2px 0px #00000030;
}
.button-danger:hover {
  background-color: rgb(var(--dangerColorMedium));
  box-shadow: -1px 2px 3px 1px #00000030;
}

.button-primary {
  color: white;
  background-color: rgb(var(--primaryColor3));
  box-shadow: 0px 1px 4px 1px #00000030;
}
.button-primary:hover {
  background-color: rgb(var(--primaryColor2));
  box-shadow: 0px 2px 5px 1px #00000040;
}

.button-secondary {
  background-color: rgba(var(--backgroundColor3), 0.5);
  color: rgb(var(--textColor));
  border: 1px solid rgba(var(--secondaryColor1), 0.5);
  outline: none;
}
.button-secondary:hover {
  background-color: rgba(var(--backgroundColor4), 0.9);
  border: 1px solid rgb(var(--secondaryColor1), 0.9);
}

.mopo {
  margin: 0;
  padding: 0;
}
.button-small {
  padding: 5px 14px;
  font-size: 1em;
  box-sizing: border-box;
}
.button-medium {
  padding: 8px 24px;
  font-size: 1em;
  box-sizing: border-box;
}
.button-large {
  padding: 10px 28px;
  font-size: 1em;
  box-sizing: border-box;
}
