@keyframes popupEntry {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.popup-backdrop {
    position: fixed;
    z-index: 10005;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #0004;
    backdrop-filter: blur(1px);
    overflow-y: auto;
    animation: fadeIn 0.2s ease;
}
.popup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    box-sizing: border-box;
    min-height: 100%;
    animation: popupEntry 0.1s ease-out;
}
.popup-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
    padding: 0.8em 1.5em;
    max-width: 100%;
    max-height: 100%;
    overflow-y: auto;
    border: 2px solid #8881;
    border-radius: var(--roundedLarge);
    box-sizing: border-box;
    box-shadow: -1px 2px 20px 0px #0008;
    background-color: rgb(var(--backgroundColor3));
}